@font-face {
  font-family: "Bonfire";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Bonfire/Bonfire.eot?#iefix") format("embedded-opentype"), url("../fonts/Bonfire/Bonfire.woff") format("woff"), url("../fonts/Bonfire/Bonfire.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansSemibold/OpenSansSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemibold/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold/OpenSansSemibold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"), url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype"); }
