@import "fonts"
@import "vars"

* 
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

ul, ol
  margin: 0
  padding: 0
  list-style: none

img 
  border-style: none

h1, h2, h3, h4, h5, h6, p, figure, li
  margin: 0

img
  border-style: none
  display: block

input, select, textarea 
  vertical-align: middle
  font: 100% arial, helvetica, sans-serif

a 
  text-decoration: none

a:hover, a:active, a:focus
  text-decoration: none

html, body
  height: 100%

body
	min-width: 320px
	margin: 0
	overflow-x: hidden


/* general styles */

.clearfix
  &:after
    content: ''
    display: block
    clear: both

/* general styles END */

/* page top */
.page-top
  min-height: 740px
  padding-top: 120px
  background: url('../img/slider-bg.jpg') no-repeat 50% 50%
  background-size: cover
  background-attachment: scroll
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  justify-content: center
  -ms-align-items: flex-start
  align-items: flex-start

.logo
  font: 60px/62px 'Bonfire'
  color: #4d3530
  display: inline-block
  -webkit-transition: all .15s
  -o-transition: all .15s
  transition: all .15s
  &:hover
    color: #4d3530
    -webkit-transform: scale(1.15)
    -ms-transform: scale(1.15)
    -o-transform: scale(1.15)
    transform: scale(1.15)

.header-main
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  padding: 25px 5%
  margin: 0 auto
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  justify-content: space-between
  -ms-align-items: center
  align-items: center

.header-nav
  li
    display: inline-block
    margin: 0 5px
    a
      display: inline-block
      font-family: 'OpenSansLight'
      font-size: 16px
      line-height: 35px
      color: #4d3530
      padding: 0 25px
      -webkit-transition: all .15s
      -o-transition: all .15s
      transition: all .15s
      border: 1px solid transparent
      background-color: transparent
      &:hover
        border: 1px solid #d6cecc
      &:active
        color: #a28a7a
    .donatello-link
      color: #a17331
      background-color: #e7e2e1
      &:hover
        border: 1px solid transparent
        background-color: #53c4ce
        color: #fff

  .lang
    a
      font-size: 15px
      padding: 0 5px
      &:hover
        background: none
        text-decoration: underline
    .active-lang
      color: #010101
      text-decoration: underline

.banner-logo
  display: block
  width: 409px
  height: 173px
  margin: 0 auto 40px
  background: url('../img/logo-sprite.png') no-repeat 0 0
  background-size: 100% auto
  &:hover
    background-position: 0 -173px

.h1
  display: block
  text-align: center
  font-family: 'OpenSansLightItalic'
  font-size: 16px
  line-height: 25px
  color: #4d3530
  max-width: 460px
/* page top END */

/* content nav */
.content-nav
  margin-top: 45px
  margin-bottom: 70px
  text-align: center
  ul
    li
      display: inline-block
      margin: 5px
      a
        display: inline-block
        font-family: 'OpenSansLight'
        font-size: 16px
        line-height: 35px
        color: #4d3530
        padding: 0 25px
        -webkit-transition: all .15s
        -o-transition: all .15s
        transition: all .15s
        border: 1px solid transparent
        background-color: transparent
        &:hover
          border: 1px solid #d6cecc
        &:active
          color: #a28a7a
      .donatello-link
        color: #a17331
        background-color: #e7e2e1
        &:hover
          border: 1px solid transparent
          background-color: #53c4ce
          color: #fff
      .active
        color: #a28a7a
        border: 1px solid #e3dcd7
/* content nav END */

/* new products */
.new-products
  position: relative

.new-prod_title
  font-family: 'OpenSansLight'
  color: #000
  font-size: 36px
  line-height: 38px
  display: block
  text-transform: uppercase
  margin-bottom: 25px

.h2
  margin: 0 auto
  display: block
  text-align: center
  max-width: 700px
  text-transform: uppercase
  font-family: 'OpenSansRegular'
  color: #000
  font-size: 75px
  line-height: 80px
  margin-bottom: 55px

.new-slider_hold
  position: relative

.new-product_slide
  outline:none

.slider-arrow
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  transform: translateY(-50%)
  width: 95px
  height: 95px
  background: #4d3530
  border: none
  font-size: 0
  z-index: 100
  color: #fff
  font-size: 27px
  line-height: 30px
  outline: none
  border: 1px solid transparent
  -webkit-transition: all .1s
  -o-transition: all .1s
  transition: all .1s
  &:hover
    background: transparent
    border: 1px solid #d0c6c3
    color: #4d3530

.slider-arrow.prev-arrow
  left: 2px
.slider-arrow.next-arrow
  right: 2px
/* new products END */

@import 'media'